.amenities,
.amenities ul {
  .w100();
}

.amenities {
  & ul {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    max-height: 145px;

    margin-bottom: 24px;

    list-style: none;

    overflow: hidden;

    transition: height 0.3s;

    &.active {
      max-height: none;

      transition: height 0.3s;
    }

    & li {
      position: relative;

      width: 30%;

      padding: 0;
      margin: 0;

      padding-left: 23px;
      margin-bottom: 12px;

      font-weight: 400;

      color: #010B3D;

      font-family: @font2;
      font-style: normal;

      font-size: 16px;
      line-height: 19px;

      &::before {
        content: '';

        position: absolute;

        top: 6px;
        left: 0;

        width: 7px;
        height: 7px;

        background-color: #F2994A;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 1330px) and (min-width: 1023px), (max-width: 689px) {
  .amenities {
    & ul li {
      width: 48%;
    }
  }
}
