.language {
  position: relative;

  padding: 0;
  margin: 0;

  width: 69px;
  height: 31px;

  &--footer {

  }
}

.language__list {
  position: absolute;

  top: 0;
  left: 0;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 31px;

  padding: 0;
  margin: 0;

  padding-right: 25px;

  border-radius: 50px;

  overflow: hidden;

  cursor: pointer;

  transition: height 0.3s, border-radius 0.3s;

  & a {
    order: 1;

    display: flex;

    justify-content: flex-start;
    align-items: center;

    width: 100%;

    padding: 0;
    margin: 0;

    padding: 5px 0 5px 17px;

    font-family: @font1;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-transform: uppercase;

    &.active {
      order: 0;

      padding: 7px 0 7px 17px;

      pointer-events: none;
    }
  }

  &::before,
  &::after {
    content: '';

    position: absolute;

    top: 17px;

    width: 7px;
    height: 1.5px;

    transition: top 0.3s, right 0.3s, transform 0.3s;
  }

  &::before {
    right: 20.5px;

    transform: rotate(45deg);

    transform-origin: bottom right;
  }

  &::after {
    right: 13px;

    transform: rotate(-45deg);

    transform-origin: bottom left;
  }

  &.active {
    border: 1px solid #F2994A;

    border-radius: 18px;

    transition: height 0.3s, border-radius 0.3s;

    &::before,
    &::after {
      background-color: #F2994A;

      top: 11px;

      transition: top 0.3s, right 0.3s, transform 0.3s;
    }

    &::before {
      right: 19px;

      transform: rotate(-45deg);
    }

    &::after {
      right: 13.5px;

      transform: rotate(45deg);
    }

    & a.active {
      color: #F2994A;
    }
  }

  &:hover {
    border-color: #F2994A;

    & a.active {
      color: #F2994A;
    }

    &::before,
    &::after {
      background-color: #F2994A;
    }
  }

  &--header {
    border: 1px solid #0F5CB9;

    background-color: #ffffff;

    & a {
      color: #010B3D;

      &.active {
        color: #0F5CB9;
      }
    }

    &::before,
    &::after {
      background-color: #0F5CB9;
    }

    &.active {
      & a:hover:not(.active) {
        color: #0F5CB9;
      }
    }
  }

  &--footer {
    border: 1px solid #ffffff;

    background-color: #5D6D7F;

    & a {
      color: #ffffff;
    }

    &::before,
    &::after {
      background-color: #ffffff;
    }

    &.active {
      & a:hover:not(.active) {
        opacity: 0.6;
      }
    }
  }
}

@media (max-width: 890px) {
  .language {
    &--footer {
      margin-bottom: 40px;
    }
  }
}
