.logo {
  padding: 0;
  margin: 0;

  & a {
    display: flex;

    justify-content: flex-start;
    align-items: center;
  }

  & a,
  & a:hover,
  & a:focus {
    text-decoration: none;
  }

  &--header {
    margin-right: 50px;
  }
  &--footer {
    margin-bottom: 8px;
  }
}

@media (max-width: 514px) {
  .logo {
    &--header {
      margin-right: 20px;
    }
  }
}
