.navigation {
  padding: 0;
  margin: 0;

  flex-grow: 1;
  flex-shrink: 0;
}

.navigation__list {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  align-content: flex-start;

  .w100();

  list-style: none;

  & li {
    padding: 0;
    margin: 0;
  }

  &--header {
    justify-content: flex-end;

    & li {
      margin-right: 19.38%;
    }

    & a {
      color: #5D6D7F
    }
  }

  &--footer {
    justify-content: center;

    & li {
      margin-left: 67px;
    }

    & a {
      color: #ffffff;
    }
  }

  & a {
    font-family: @font2;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    text-transform: uppercase;

    transition: color 0.3s;

    &:hover,
    &:focus {
      color: #f2994a;
      transition: color 0.3s;
    }
  }
}

@media (max-width: 1180px) {
  .navigation__list {
    &--header {
      & li {
        margin-right: 10%;
      }
    }

  }
}
