.palm,
.palm__404-title,
.palm__404-text,
.palm__container,
.palm__title,
.palm__field,
.palm__text,
.palm__final,
.palm__thanks-title,
.palm__thanks-text {
  .w100();
}

.palm {
  overflow: hidden;
}

.palm__wrapper {
  position: relative;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  align-content: flex-start;

  .wrappinner();

  &--contact-us {
    padding-top: 77px;
    padding-bottom: 167px;
  }

  &--404 {
    height: 100vh;
  }
}

.palm__content,
.palm__image {
  width: 50%;

  padding: 0;
  margin: 0;
}

.palm__content {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.palm__container {
  position: relative;
}

.palm__slide {
  &.swiper-slide {
    display: flex;

    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    box-sizing: border-box;

    padding-bottom: 30px;
  }
}

.palm__title {
  font-family: @font2;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;

  color: #010B3D;

  &--text {
    margin-bottom: 59px;
  }

  &--radio {
    margin-bottom: 50px;
  }

  &--message {
    margin-bottom: 8px;
  }
}

.palm__text {
  margin-bottom: 30px;

  font-family: @font2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #010B3D;
}

.palm__field {
  padding-bottom: 12px;
  padding-right: 35px;

  border: none;
  background: none;

  font-family: @font2;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 100%;

  color: #010B3D;

  border-bottom: 2px solid #5D6D7F;

  transition: border-color 0.3s;

  &--message {
    height: 90px;

    resize: none;

    &.more-16 {
      font-size: 30px;
      line-height: 130%;
    }

    &.more-16.more-40 {
      font-size: 16px;
      line-height: 130%;
    }
  }

  &.active {
    &:invalid {
      border-color: #EB5757;

      color: #EB5757;

      transition: color 0.3s, border-color 0.3s;

      & + .error {
        opacity: 1;

        transition: opacity 0.3s;
      }
    }
  }

  &:hover,
  &:focus {
    border-color: #F2994A;

    transition: border-color 0.3s;
  }
}

.palm__next {
  position: absolute;

  bottom: 54px;
  right: 0;

  z-index: 5;

  .button_default();

  display: flex;

  justify-content: center;
  align-items: center;

  font-family: @font2;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  color: #010B3D;

  &.active {
    opacity: 1;

    pointer-events: all;
  }

  &:hover,
  &:focus {
    & .palm__next-icon {
      background-color: #0F5CB9;

      transition: background-color 0.3s;
    }
  }

  &.show-text {
    position: static;

    margin-top: 25px;

    & .palm__next-text {
      display: block;
    }
  }

  &:not(.no-hidden).hidden {
    opacity: 0;
  }
}

.palm__next-text {
  display: none;

  margin-right: 16px;
}

.palm__next-icon {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  background-color: #F2994A;

  border-radius: 50%;

  transition: background-color 0.3s;

  & svg {
    fill: #ffffff;
  }
}

.palm__image {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  min-height: 100%;
}

.palm__404-title,
.palm__404-text {
  font-family: @font2;
  font-style: normal;
}

.palm__404-title {
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 200px;
  line-height: 100%;

  color: #0F5CB9;
}

.palm__404-text {
  margin-bottom: 140px;

  font-weight: 600;
  font-size: 30px;
  line-height: 100%;

  color: #5D6D7F;
}

.palm__background {
  position: absolute;

  bottom: -60px;
  left: 35%;

  z-index: 0;

  padding: 0;
  margin: 0;

  font-family: @font2;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 130%;

  opacity: 0.15;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #010B3D;
  -webkit-text-fill-color: transparent;
  -ms-color: #fff;
  -ms-text-shadow: -1px -1px 0 #010B3D, 1px -1px 0 #010B3D, -1px 1px 0 #010B3D, 1px 1px 0 #010B3D;

  white-space: nowrap;
}

.palm__row,
.palm__label {
  padding: 0;
  margin: 0;
}

.palm__row {
  position: relative;

  &--radio {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &:hover {
      & .palm__more {
        opacity: 1;

        transition: opacity 0.3s;
      }
    }
  }

  &--text {
    width: 100%;

    &.error-field {
      & .palm__field {
        border-color: #EB5757;

        color: #EB5757;

        transition: color 0.3s, border-color 0.3s;
      }

      & .error {
        opacity: 1;

        transition: opacity 0.3s;
      }
    }
  }
}

.palm__label {
  position: relative;

  display: block;

  padding-left: 47px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;

  color: #010B3D;

  &::before,
  &::after {
    content: '';

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    border-radius: 50%;
  }

  &::before {
    left: 0;

    width: 31px;
    height: 31px;

    border: 1px solid #0F5CB9;
  }

  &::after {
    left: 5px;

    width: 21px;
    height: 21px;

    background-color: #0F5CB9;

    opacity: 0;

    transition: opacity 0.3s;
  }
}

input[type="radio"]:checked + .palm__label {
  &::after {
    opacity: 1;

    transition: opacity 0.3s;
  }
}

.palm__more {
  position: absolute;

  bottom: -37px;
  right: -40px;

  z-index: 5;

  display: block;

  padding: 9px 12px;

  font-family: @font2;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;

  text-align: center;

  background-color: #5D6D7F;
  border-radius: 4px;

  opacity: 0;

  transition: opacity 0.3s;

  &::before {
    content: url(../img/triangle.svg);

    position: absolute;

    top: -9px;
    left: 16px;
  }
}

.palm__final {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.palm__thanks-title,
.palm__thanks-text {
  font-family: @font2;
  font-style: normal;
}

.palm__thanks-title {
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 36px;
  line-height: 100%;

  color: #010B3D;
}

.palm__thanks-text {
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  color: #5D6D7F;
}

 .disabled {
   pointer-events: none;
   opacity: 0.7;
 }

@media (max-width: 1022px) {
  .palm__background {
    bottom: -45px;

    font-size: 130px;
    line-height: 130%;
  }

  .palm__content {
    &--contact {
      width: 60%;
    }
  }

  .palm__image {
    &--contact {
      width: 40%;
    }
  }
}

@media (max-width: 767px) {
  .palm {
    &--404 {
      padding-top: 35px;
    }
  }
  .palm__wrapper {
    &--404 {
      height: auto;
    }

    &--contact-us {
      padding-top: 92px;
      padding-bottom: 116px;
    }
  }

  .palm__content {
    &--404 {
      order: 1;

      width: 100%;

      margin-bottom: 160px;
    }

    &--contact {
      width: 714px;
      max-width: 100%;

      margin-bottom: 60px;
    }
  }

  .palm__title {
    &--text {
      margin-bottom: 64px;
    }

    &--radio {
      margin-bottom: 56px;
    }
  }

  .palm__field {
    font-size: 30px;
    line-height: 100%;

    padding-bottom: 16px;

    &--message {
      height: 60px;

      margin-top: 23px;
    }
  }

  .palm__next {
    bottom: 43px;
  }

  .palm__image {
    &--404 {
      order: 0;

      justify-content: flex-start;

      width: 100%;

      margin-bottom: 40px;

      & img {
        width: 50%;
      }
    }

    &--contact {
      justify-content: flex-start;
      width: 100%;
    }
  }

  .palm__more {
    right: -5px;
  }
}

@media (max-width: 680px) {
  .palm__background {
    bottom: -30px;

    font-size: 96px;
    line-height: 130%;
  }

  .palm__image {
    &--contact {
      & img {
        width: 340px;
      }
    }
  }
}

@media (max-width: 499px) {
  .palm__background {
    left: 0;
  }
}

@media (max-width: 424px) {
  .palm__image {
    &--404 {

      & img {
        width: 156px;
      }
    }

    &--contact {
      & img {
        width: 240px;
      }
    }
  }

  .palm__404-title {
    margin-bottom: 28px;

    font-size: 100px;
    line-height: 100%;
  }

  .palm__404-text {
    margin-bottom: 56px;

    font-size: 24px;
    line-height: 130%;
  }
}
