.toggle {
  display: flex;

  justify-content: space-between;

  &--index {
    position: absolute;

    left: 0;
    bottom: 0;

    z-index: 3;

    .w100();

    align-items: flex-end;
  }

  &--page {
    align-items: center;

    width: 230px;
  }

  &--palm {
    align-items: center;

    width: 120px;

    margin-bottom: 23px;
  }

  &--popup {
    position: absolute;

    top: calc(50% - 30.5px);
    left: 0;

    z-index: 1000;

    align-items: center;

    width: 100%;

    transform: translateY(-50%);
  }
}

.toggle__button {
  position: relative;

  .button_default();

  display: flex;

  justify-content: center;
  align-items: center;

  transition: background-color 0.3s;

  &.swiper-button-disabled {
    opacity: 0.7;

    pointer-events: none;
  }

  &--prev {
    transform: rotate(180deg);
  }

  &--index,
  &--page {
    &:hover,
    &:focus {
      & .toggle__icon {
        fill: #ffffff;
      }
    }
  }

  &--index {
    width: 91px;
    height: 65px;

    background-color: #C3E4F1;

    &.toggle__button--prev {
      border-radius: 0px 0px 0px 6px;
    }

    &.toggle__button--next {
      border-radius: 6px 0px 0px 0px;
    }

    &:hover,
    &:focus {
      background-color: #0F5CB9;
    }
  }

  &--page {
    flex-shrink: 0;

    width: 42px;
    height: 42px;

    background-color: #ffffff;

    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: #f2994a;
    }
  }

  &--palm {
    width: 20px;
    height: 20px;

    &:hover,
    &:focus {
      & .toggle__icon {
        fill: #F2994A;
      }
    }
  }
}

.toggle__icon {
  transition: fill 0.3s;

  &--index {
    fill: #010B3D;
  }

  &--page {
    fill: #5D6D7F;
  }

  &--palm {
    fill: #5D6D7F;
  }

  &--popup {
    fill: #FFFFFF;
  }
}

@media (max-width: 1022px) {
  .toggle {
    &--popup {
      top: auto;
      bottom: 10px;

      width: calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

@media (max-width: 499px) {
  .toggle__button {
    &--index {
      width: 54px;
      height: 39px;
    }
  }
  .toggle__icon {
    &--index {
      width: 16.62px;
    }
  }
}
